/**
 * created by yxzhang on 09/24/16.
 */

Page {
  background-color: white;
  font-size: 15;
}
TextField {
  padding: 10;
  font-size: 13;
}

///////////////////////////////////////////////////////
//
//  partial styling files
//
//  Do NOT change the import sequence of this block
//
///////////////////////////////////////////////////////

@import './resources/_colors';
@import './resources/_texts';
@import './resources/_icons';
@import './resources/_layouts';
@import './resources/_widgets';
@import './resources/_vendors';


///////////////////////////////////////////////////////
//
//  app styling files
//
///////////////////////////////////////////////////////

@import "components/app.component.scss";