.note-item {
  padding: 10;
  border-left: solid 2px white;

  &.positive {
    border-left: solid 2px lightseagreen;
  }
  &.negative {
    border-left: solid 2px lightcoral;
  }

  .small-label {
    font-size: 12;
    font-weight: 100;
  }
  .medium-label {
    font-size: 16;
    font-weight: 400;
  }
}

.small-spacing {
  margin: 5;
}
.medium-spacing {
  list-style: none;
  margin: 10;
}
.native-btn-container Button{
  margin: 10;
  height: 30;
}